.block_center{
	
}
.settings_block{

}

.button{
	
    width: 200px;
    height: 100px;
    border: 3px solid #a6daa6;
    border-radius: 5%;
    /* background-color: #da7272; */
    margin-top: calc(250px / 2 - 50px);
    /* box-shadow: 0 0 7px 9px #da7272; */
    display: inline-block;
    transition: all .3s linear;
}

.button:hover{
    background-color: #cefdc6;
    border-color: #cefdc6;
    transition: all .3s linear;
}

.button > p {
	
    text-align: center;
    margin-top: 25px;
    /* transform: translateY(-50%); */
    font-family: cursive;
    font-size: 1.5em;
    font-weight: bold;
    text-transform: uppercase;
    color: #298427;
    cursor: default;
}


#cardArea {
	width: 136px;
	height: 204px;
	margin-top: calc(250px / 2 - 102px);
	overflow: hidden;	
	display: none;
	border-radius: 13px;
	opacity: 0;
}

.numbers_show{
	font-family:cursive;
    font-size: 6em;
    font-weight: lighter;
    color: darkcyan;
}

.cardImg{
	background-image: url('../img/atlasnye-884206.png');
	border: 1px solid grey;
	background-repeat: no-repeat;
	background-position: 200px 0px;
}

.card-1{background-position: 0px 0px;}
.card-2{background-position: -148px 0px;}
.card-3{background-position: -295px 0px;}
.card-4{background-position: -441px 0px;}
.card-5{background-position: -588px 0px;}
.card-6{background-position: -735px 0px;}
.card-7{background-position: -882px 0px;}
.card-8{background-position: -1029px 0px;}
.card-9{background-position: -1176px 0px;}
.card-10{background-position: -1322px 0px;}
.card-11{background-position: -1469px 0px;}
.card-12{background-position: -1616px 0px;}
.card-13{background-position: -1763px 0px;}

.card-14{background-position: 0px -216px;}
.card-15{background-position: -148px -216px;}
.card-16{background-position: -295px -216px;}
.card-17{background-position: -441px -216px;}
.card-18{background-position: -588px -216px;}
.card-19{background-position: -735px -216px;}
.card-20{background-position: -882px -216px;}
.card-21{background-position: -1029px -216px;}
.card-22{background-position: -1176px -216px;}
.card-23{background-position: -1322px -216px;}
.card-24{background-position: -1469px -216px;}
.card-25{background-position: -1616px -216px;}
.card-26{background-position: -1763px -216px;}


.card-27{background-position: 0px -430px;}
.card-28{background-position: -148px -430px;}
.card-29{background-position: -295px -430px;}
.card-30{background-position: -441px -430px;}
.card-31{background-position: -588px -430px;}
.card-32{background-position: -735px -430px;}
.card-33{background-position: -882px -430px;}
.card-34{background-position: -1029px -430px;}
.card-35{background-position: -1176px -430px;}
.card-36{background-position: -1322px -430px;}
.card-37{background-position: -1469px -430px;}
.card-38{background-position: -1616px -430px;}
.card-39{background-position: -1763px -430px;}


.card-40{background-position: 0px -645px;}
.card-41{background-position: -148px -645px;}
.card-42{background-position: -295px -645px;}
.card-43{background-position: -441px -645px;}
.card-44{background-position: -588px -645px;}
.card-45{background-position: -735px -645px;}
.card-46{background-position: -882px -645px;}
.card-47{background-position: -1029px -645px;}
.card-48{background-position: -1176px -645px;}
.card-49{background-position: -1322px -645px;}
.card-50{background-position: -1469px -645px;}
.card-51{background-position: -1616px -645px;}
.card-52{background-position: -1763px -645px;}

input[name=gameRegime] {
	display: none;
}
input[name=gameRegime] + label{
	width: calc(100% + 15px);
	padding-right: 10px;
	padding-left: 10px;
	background-color: #fff;
	transition: background-color 0.4s linear;
}

input[name=gameRegime]:checked + label{
	background-color: #cefdc6;
	display: block;	
	transition: background-color 0.4s linear 0.4s;
}

.bg_color {
	background-color: #cefdc6;
}

.pick_block {
	min-height: 200px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	
}